html {
   
    height:auto!important;
    min-height:100vh;
    
}

body {

    height:auto!important;
    min-height:100vh;
    margin: 0;
    font-family:'Ubuntu', sans-serif;
    width: 100wv;
   
}

header {

    display: block;
    
}

main {

    display: block;

}

.container-logo {

    background-color: #2E948A;
    display: flex;
    justify-content:space-between;
    padding-bottom: 20px;
    padding-top: 20px;
      
}

.container-logo img {

    margin-left: 82px;
    
}

.container-logo nav  {
    
    margin-top: 27px;
    margin-right: 66px;
        
}

.container-logo nav a {

    text-decoration: none;
    font-size: 20px;
    padding-right: 37px;
    color:#FDFDFD;
    font-weight: bold;
    
}

#banner {

    display: flex;
    justify-content: space-between;
    margin-left: 206px;

}

#banner h1 {

    color: #FF4081;
    font-size: 60px;
    width: 488px;
    height: 216px;
    margin-top: 125px;
    margin-bottom: 19px;

}

#banner h3 {

    color: #555555;
    font-size: 27px;
    width: 60%;
    margin-bottom: 38px;
    
}

#ilustra-banner img {

    margin-right: 206px;
    margin-top: 135px;
    margin-bottom: 66px;
    width: 501px;
    height: 511px;
   
}

#banner button {
    
    margin-bottom: 201px;
    color: #FF4081;
    font-size: 27px;
    background-color: #FDFDFD;
    border-radius: 62px;
    border: 2px solid #FF4081;
    padding: 10px 26px 10px 26px; 

}

#imagens-artigos {

    display: flex;
    justify-content: space-between;
    background-color: #F6F6F6;

}

#artigos img {

    margin-top: 109px;
    margin-bottom: 45px;
    
}

#img-poupando {

    width: 288px;
    height: 270px;
    
}

#img-investimento {

    width: 238px;
    height: 270px;

}

#img-independencia {

    width: 187px;
    height: 270px;
    margin-right: 187px;

}

#container-artigos {

    display: flex;
    justify-content: space-between;
    background-color: #F6F6F6;

}

#container-artigos h4 {

    font-size: 25px;
    color: #FF4081;
    margin-top: 0;
    margin-bottom: 23px;
    
}

#container-iniciantes {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 128px;

}

#container-poupando {

    display: flex;
    flex-direction: column;
    align-items: center;

}

#container-independencia {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 187px;

}

#artigos p {

    width: 293px;
    height: 60px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 26px;

} 

#artigos button {

    background-color: #FF4081;
    border-radius: 62px;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px 45px 10px 45px;
    margin-top: 0;
    margin-bottom: 117px;

}

#container-feedbacks img {

    width: 104px;
    height: 104px;

}

#container-feedbacks h1 {

    font-size: 37px;
    color: #009688;
    margin-left: 128px;
    margin-top: 119px;
    font-weight: bold;
    margin-bottom: 78px;

}

#feedbacks01 {

    display: flex;
    justify-content: space-around;
    margin-bottom: 86px;
    width: 100%;
  
}

#feedbacks02 {

    display: flex;
    justify-content: space-around;

}

#img01 {

    margin-left: 155px;
    padding-right: 20px;
    
}

#img02 {
    
    padding-right: 20px;
    
}

#img03 {

    margin-left: 155px;
    padding-right: 20px;

}

#img04 {

    margin-bottom: 157px;
    padding-right: 20px;
    
}

.feedback {
    
    width: 25vw;
    height: 70.27px;
    margin-right: 122px;
    font-size: 18px;
    font-weight: 300;
    line-height: 24.55px

}


.nome {
    
    margin-top: -3.7px;
    font-weight: bold;

}

#container-conteudos {

    display: flex !important;
    flex-direction: row;
    justify-content: space-around;

}

#container-cont1 {

    display: flex;
    flex-direction: column;
    align-items:flex-start;

}

#container-cont2 {

    display: flex;
    flex-direction: column;
    align-items:flex-start;

}

#container-cont3 {

    display: flex;
    flex-direction: column;
    align-items:flex-start;

}

#container-conteudos img {

    width: 319px;
    height: 193px;
    
}

#mais-conteudo {

    background-color: #E5E5E5;
    padding-bottom: 170px;
    
}

#mais-conteudo h1 {

    font-size: 37px;
    color: #009688;
    padding-top: 91px;
    padding-bottom: 73px;
    padding-left: 128px;

}

#mais-conteudo h3 {

    color:#009688;
    font-size: 27px;
    font-weight: 700;
    margin-top: 11px;
    margin-bottom: -15px;

}

#text-cont1 {
    
    font-size: 18px;
    text-align: justify;
    width: 319px;
    height: 114px;

}

#text-cont2 {
    
    font-size: 18px;
    text-align: justify;
    width: 319px;
    height: 114px;

}

#text-cont3 {
    
    font-size: 18px;
    text-align: justify;
    width: 319px;
    height: 114px;
    
}

#container-button-verTodos {

    display: flex;
    justify-content: center;
    background-color: #E5E5E5;
    padding-bottom: 53px;
       
}

#container-button-verTodos button {

    border-radius: 62px;
    font-size: 25px;
    color: #FF4081;
    border: 2px solid #FF4081;
    background-color: #E5E5E5;
    padding: 10px 40px 10px 40px;

}

footer {

    display: block;

}

#container-footer {

    display: flex;
    justify-content: space-around;
    background-color: #419488;

}

#logo-footer {

    padding-top: 53px;
    padding-bottom: 42.57px;
    margin-left: -87px;

}

footer a  {

    color: #FFFFFF;

}

footer button {

    color:#FFFFFF;
    background-color:#419488;
    border-radius:62px;
    border: 2px solid #FFFFFF;
    padding: 10px 68px 10px 68px;
    font-size: 20px;
    margin-bottom: 13px;

}

#links-footer {

    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 22.98px;
    padding-top: 53px;
    padding-right: 114px;
    gap: 10px;

}

#links-footer a  {

    text-decoration: none;
    font-weight: 400;

}

#buttons-footer {

    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin-right: -73px;

}

#link001 {

    text-decoration: none;
}

#link002 {

    text-decoration: none;
}

@media (max-width:1498px) {

    #ilustra-banner img {

        margin-right: 140px;

    }

    #banner {

        margin-left: 140px;

    }

}

@media (max-width:1469px) {

    .nome {

        margin-top: 42px;

    }
}

@media (max-width:1354px) {

    #ilustra-banner img {

        margin-right: 80px;

    }

    #banner {

        margin-left: 80px;

    }    
}

@media (max-width:1307px) {

    .nome {

        margin-top: 44px;

    }

    #container-img-conteudos img {

        width: 250px;
        height: 151px;

    }

    #container-conteudos img {

        width: 250px;
        height: 151px;

    }

    #container-conteudos h3 {

        font-size: 22px;

    }

    #container-conteudos p {

        font-size: 16px;
        width: 250px;

    }

}

@media (min-width:1500px) {

    .feedback {

        margin-right: 189px;

    }

    #container-feedbacks {

        display: block;

    }

    #img01 {

        margin-left: 120px;

    }

    #img03 {

        margin-left: 120px;

    }
}

@media (max-width:1300px) {

    #img-poupando {

        width: 240px;
        height: 225px;

    }

    #img-investimento {

        width:200px;
        height:227px;

    }

    #container-artigos h4 {

        font-size: 20px;

    }

    #container-artigos p {

        font-size: 14px;

    }

    #container-artigos button {

        font-size: 16px;

    }

    #container-independencia {

        margin-right: 70px;

    }

    #container-iniciantes {

        margin-left: 70px;

    }

    footer button {

        padding-left: 30px;
        padding-right: 30px;
        margin-right: 30px;

    }

    #logo-footer {

        margin-left: 20px;

    }
}

@media (min-width:1300px) {

    #button01 {

        padding-right: 48px;
        padding-left: 52px;
    }

    #button02 {

        padding-right: 37px;
        padding-left: 30px;
    }

}

@media (min-width:1235px) {

    #img01 {

        margin-left: 120px;

    }

    #img03 {

        margin-left: 120px;

    }
   
}

@media (max-width:1234px) {

    #ilustra-banner img {

        width: 440px;
        height: 450px;

    }

    #container-conteudos img {

        width: 200px;
        height: 121px;

    }

    #container-conteudos h3 {

        font-size: 19px;

    }

    #container-conteudos p {

        font-size: 15px;
        width: 230px;

    }

    .feedback {

        margin-right: 81px;

    }

    #container-conteudos p {

        width: 199px;

    }

}

@media (max-width:1174px) {

    #ilustra-banner img {

        width: 400px;
        height: 410px;

    }

    #banner h1 {

        font-size: 50px;
        width:459px;
        height: 200px;
        margin-bottom: 0;

    }

    #banner h3 {

        font-size: 25px;
        margin-top: 0;
        margin-bottom: 23px;

    }

    #banner button {

        font-size: 25px;

    }

    #img01 {

        margin-left: 103px;

    }

    #img03 {

        margin-left: 103px;

    }

}

@media (max-width:1117px) {

    footer button {

        font-size: 15px;
        margin-right: 0;

    }

    #buttons-footer {

        margin-right: 30px;

    }
}

@media (max-width:1081px) {

    #img-poupando {

        width: 190px;
        height: 170px;
        
    }

    #img-investimento {

        width:150px;
        height:170px;

    }

    #container-artigos h4 {

        font-size: 19px;
    }

    #container-artigos p {

        font-size: 14px;

    }

    #container-artigos button {

        font-size: 15px;

    }

    #container-independencia {

        margin-right: 50px;

    }

    #container-feedbacks h1 {

        font-size: 28px;
        width: 400px;

    }

    .feedback {

        margin-right: 50px;

    }

    #img01 {

        margin-left: 60px;
        
    }

    #img03 {

        margin-left: 60px;

    }

    #container-feedbacks h1 {

        margin-left: 80px;
        width: 500px;

    }

    #mais-conteudo {

        display: flex;
        flex-direction: column;
        
    }

    #container-iniciantes {

        margin-left: 0;

    }

}

@media (max-width:1070px) {

    #ilustra-banner img {

        width: 350px;
        height: 358px;

    }

    #banner h1 {

        font-size: 40px;
        width:370px;
        height: 160px;

    }

    #banner h3 {

        font-size: 22px;
        margin-bottom: 13px;

    }

    #banner button {

        font-size: 22px;
    }

    #container-feedbacks h1 {

        font-size: 34px;

    }

}

@media (min-width:1119px) {

    #button01 {

        width: 229px !important;
    }

}

@media (max-width:1062px) {

    .nome {

        margin-top: 66px;

    }

}

@media (max-width:1000px) {

    #container-artigos {

        display: flex;
        flex-direction: column;

    }

    #img-poupando {

        width: 240px;
        height: 225px;
        
    }

    #img-investimento {

        width:200px;
        height:227px;

    }

    #container-artigos h4 {

        font-size: 22px;

    }

    #container-artigos p {

        font-size: 17px;

    }

    #container-artigos button {

        font-size: 18px;

    }

    #container-independencia {

        margin-right: 0;

    }

}

@media (max-width:958px) {

    #ilustra-banner img {

        width: 300px;
        height: 307px;

    }

    #banner h1 {

        font-size: 35px;
        width: 332px;
        height: 140px;

    }

    #banner h3 {

        font-size: 19px;

    }

    #banner button {

        font-size: 19px;
    }

    .feedback {

        margin-right: -42px;

    }

    #feedbacks01 {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;

    }

    #feedbacks02 {

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #container-feedbacks {

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #container-feedbacks img {

        margin-left: 0;
        padding-right: 0;

    }

    #img04 {

        margin-bottom: 20px;

    }

    .nome {

        margin-bottom: 116px;

    }

}

@media (max-width:943px) {

    .nome {

        margin-top: 67px;

    }

}

@media (min-width: 943px) {

    #button01 {

        width: 200px;
    }

}

@media (max-width:940px) {

    .container-logo img {

        width: 200px;
        height: 63px;

    }
    
    #img-contato img {

        display: none;

    }

    footer img {

        width: 30vw;

    }

    #links-footer a {

        font-size: 17px;

    }

    #buttons-footer {

        gap:10px;
        padding-top: 49px;
    }

    footer button {

        width: 164px;
        height: 38px;
        font-size: 15px;
        margin-bottom: 0;
        padding: 0;
    
    }   
        
}

@media (max-width:869px) {

    .container-logo nav {

        display: flex;
        
    }

    .container-logo img {

        margin-left: 80px;
    }

    .container-logo nav {

        margin-right: 34px;
    }
 
} 

@media (max-width:846px) {
    
    #ilustra-banner img {
        width: 250px;
        height: 256px;
        
    }

    #banner h1 {

        font-size: 30px;
        width:250px;
        height: 120px;
    }

    #banner h3 {
        font-size: 16px;

    }

    #banner button {
        font-size: 16px;

    }

    .feedback {

        margin-right: -49px;
    }

   #pagina-inicio {

        height: 58vh;
   }

}

@media (max-width:792px){

    .nome {

        margin-top: 121px;
    }

    #feedbacks02 {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:785px) {

    #text-whoopi {

        width: 129px;
    }

}

@media (max-width:778px) {
    
    .container-logo nav a {

        padding-right: 20px;
    }

    #container-feedbacks h1 {

        margin-right: 40px;
    }

    #container-conteudos {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mais-conteudo h1 {

        font-size: 30px;
        width: 430px;
        padding-left: 0;
    }

    #titulo-mais {

        display: flex;
        justify-content: center;
    }

    #container-feedbacks h1 {

        margin-left: 117px;
    }

    #links-footer {

        padding-right: 60px;
    }

    #container-button-verTodos button {

        font-size: 20px;
    }

    #mais-conteudo {

        padding-bottom: 48px;
    }

}

@media (max-width:734px) {

    #ilustra-banner img {
        width: 200px;
        height: 205px;
    }

    #banner h1 {

        font-size: 28px;
        width:206px;
        height: 100px;
    }

    #banner h3 {
        font-size: 12px;

    }

    #banner button {
        font-size: 12px;

    }

    #banner {

        margin-bottom: -47px;
    }

    #pagina-inicio {

        height: 53vh;
    }

   #container-artigos img {
    
        width: 200px;
        height: 188px;

   }

}

@media (max-width: 714px) {

    .container-logo nav {

        margin-right: 34px;
        padding-left: 20px;

    }

    .container-logo img {

        margin-left: 60px;

    }

    #logo-footer img {

        width: 190px;
        height: 62px;
    }

    #links-footer a {

        font-size: 15px;
    }

    #buttons-footer button {

        font-size: 13px;
    }

}

@media (max-width:703px) {

    .nome {

        margin-top: 146px;
    }

    #container-feedbacks h1{

        margin-left: 100px;
    }

}

@media (max-width:697px) {

    #img02 {

        margin-left: -22px;
    }
    
    #img03 {

        margin-left: -22px;
    }

    #img01 {

        margin-left: -22px;
    }

    #img04 {

        margin-left: -22px;
    }

    #container-feedbacks h1 {

        font-size: 31px;
        width: 452px;
    }

}

@media (max-width:563px) {

    .feedback {

        padding-left: 15px;
    }

    .nome {

        padding-left: 15px;
    }

    #titulo-mais h1 {

        font-size: 27px;
        width: 388px;
    }

}
    
@media (max-width: 614px) {

    footer button {

        width: 154px;
        height: 36px;
        font-size: 12px;
        margin-bottom: 0;
        padding: 0;
        
    }

    #logo-footer img {

        width: 170px;
        height: 55px;
    }

    #links-footer a {

        font-size: 15px;
    }

    #links-footer {

        padding-top: 45px;
    }

    #logo-footer {

        padding-top: 50px;
    }

    .container-logo img {

        
        margin-left: 40px;
    }

    .container-logo nav {

        padding-left: 60px;
    
    }

}

@media (max-width:609px) {

    .nome {

        margin-top: 203px;
    }

}

@media (max-width:606px) {

    #ilustra-banner img {
        display: none;
    }

    #banner h1 {

        font-size: 35px;
        width:339px;
        height: 80px;
        margin-top: 100px;
        margin-bottom: 17px;
    }

    #banner h3 {
        font-size: 20px;

    }

    #banner button {
        font-size: 20px;
        padding: 5px 21px 5px 21px;

    }

}

@media (max-width:595px) {

    #img01 {

        margin-left: -10px;
    }

}

@media (max-width:585px) {

    .menu-link {

        font-size: 16px !important;
    }

}

@media (max-width:563px) {

    #text-wally {

        width: 111px;

    }

}

@media (max-width:559px) {

    #ilustra-banner img {

        display: none;

    }

    #links-footer {

        padding-right: 40px;

    }

    #container-feedbacks h1 {

        font-size: 28px;
        width: 360px;
        margin-right: 100px;

    }

    #links001 {

        font-size: 15px;
    }

}

@media (max-width: 540px) {

    .container-logo img {

        margin-left: 30px;
        width: 160px;
        height: 50px;
        padding-top: 5px;

    }

    .container-logo nav {

        margin-right: 0px;
        padding-left: 40px;
        margin-right: 10px;

    }

    .container-logo nav a {

        font-size: 17px;

    }

    #logo-footer img {

        width: 150px;
        height: 49px;

    }

    #buttons-footer button {

        width: 134px;
        height: 31px;

    }

    #links-footer a {

        font-size: 13px;

    }

    #links-footer {

        gap:2px;

    }

    #banner h1 {

        font-size: 30px;

    }

    #banner h3 {

        font-size: 17px;

    }

    #banner button {

        font-size: 17px;

    }

}

@media (max-width:487px) {

    .nome {

        margin-top: 225px;
    }

}

@media (max-width:469px) {

    .menu-link {

        font-size: 14px !important;

    }
    
    .container-logo nav {

        margin-left: 0;
        padding-left: 20px;
    }

}

@media (max-width: 451px) {

    .container-logo img {

        margin-left: 20px;

    }

    .container-logo nav {

        margin-right: 0px;
        
    }

    #logo-footer img {

        width: 130px;
        height: 42px;

    }

    #buttons-footer button {

        width: 114px;
        height: 26px;

    }

    #links-footer a {

        font-size: 12px;

    }

    #links-footer {

        gap:0px;

    }

}

@media (max-width: 430px) {

    .container-logo img {

        margin-left: 10px;
        width: 140px;
        height: 44px;

    }

    .container-logo nav a {

        font-size: 15px;

    }

    #buttons-footer button {

        width: 94px;
        height: 21px;
        font-size: 10px;

    }

    #banner h1 {

        font-size: 28px;
        width: 273px;

    }

    #banner h3 {

        font-size: 15px;

    }

    #banner button {

        font-size: 15px;

    }

}

@media (max-width: 404px) {

    .container-logo nav a {

        padding-right: 10px;

    }

    .container-logo nav {

        padding-left: 0;
        margin-right: 10px;

    }

    #logo-footer img {

        width: 110px;
        height: 36px;

    }

    #banner {

        margin-left: 60px;

    }

    #titulo-mais h1 {

        font-size: 23px;
        margin-left: 31px;

    }

    #container-button-verTodos button {

        font-size: 16px;

    }

    #pagina-inicio {

        height: 75vh;

    }

    .feedback {

        width: 199px;

    }

    #text-wally {

        width: 227px;

    }

    #text-jaden {

        width: 227px;

    }

    #text-whoopi {

        width: 227px;

    }

    #text-janes {

        width: 227px;

    }

    .nome {

        margin-top: 71px;

    }

}

@media (max-width: 352px) {

    .container-logo img {

        width: 130px;
        height: 41px;
        padding-top: 5px;

    }

    .container-logo nav a {

        font-size: 13px;

    }

    .container-logo nav {

        margin-top: 22px;

    }

    #logo-footer img {

        width: 100px;
        height: 32px;

    }

    #buttons-footer button {

        width: 84px;
        height: 19px;
        font-size: 9px;

    }

    #links-footer a {

        font-size: 11px;

    }
   
}

@media (max-width:296px) {

    .container-logo img {

        width: 100px;
        height: 32px;    

    }

    .container-logo nav a {

        font-size: 10px;
        
    }

    .container-logo nav {

        margin-top: 17px;
    }
   
}

@media (min-height:1180px) {

    main {

        height: 67vh;
    }

}

@media (min-height:1368px) {

    main {

        height: 71vh;
    }

}

@media (min-width:1920px) {

    #container-feedbacks img {

        margin-left: 111px;
        padding-right: 0;

    }

    .feedback {

        margin-right: 203px;

    }

    #container-conteudos {

        gap: 75px;

    }

}

<<<<<<<< HEAD:styleIndex.css
@media (min-height:1368px) {

    main {

        height: 383vh;
    }

}

@media (min-height:1180px) {

    main {

        height: 454vh;

    }

}



========
>>>>>>>> 8344fede608d72c15379d22363e0e9b6766be518:Css/styleInicio03.css


    


